body {
    margin: 0px;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: fixed;
    width: 100vw;
    * {
        margin: 0 10px;
        color: white;
    }
    a {
        
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    };
}

#maincontent {
    background-color: white;
    min-height: 100vh;
}

h1 {
    margin: 45px 0;
    font-weight: bold;
}

.centerblock {
    text-align: center;
}

#sidebar {
    background-color: red;
}

#content {
    margin: 150px 0 100px;
}

#login {
    display: flex;
    justify-content: center;
}

.loginblock {
    label, button {
        text-align: left;
    };
    h2 {
        margin-bottom: 25px;
    }
}

th {
    padding: 15px;
    background-color: #09d;
    color: white;
}

td {
    padding: 15px;
}

#logbar {
    background-color: blue;
}

#movie {
    table {
        img {
            max-width: 200px;
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    color: black;
}