body{
    margin: 0;
    padding: 0;
}

.color-1{
    color: #34b1cb;
}

.color-linier{
    color: linear-gradient(#34b1cb,#3466CB);
}


.color-2{
    color: #3466CB;
}
.color-3{
    color: #34CB99;
}

.pointer{
    cursor: pointer;
  }

.bg-linier-1{
    background-image: linear-gradient(#34b1cb,#3466CB);
}

.bg-linier-2{
    background-image: linear-gradient(#34CB99,#34b1cb);
}

.card-body p{
    color: lightgoldenrodyellow;
    font-size: 1.3rem;
    text-shadow:2px 2px .125rem rgb(0, 0, 0);
}

.nav-wrap{
    width: 100%;
}

.content-landing{
    height: 150vh;
    padding: 100px;
}

.content-admin{
    height: 100vh;
    padding: 70px;
}
.content{
    height: 90vh;
    padding: 100px;
    position: static;
}

.content .card{
    height: 80%;
    min-width: 80%;
    border-radius: 15px;
    margin-bottom: 0;
}

.inside-card{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

img{
    image-rendering:crisp-edges;
}

.link{
    text-decoration: none;
}

.box{
    height: 100%;
    width: 60%;
    border-radius: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

navbar{
    position: relative !important;
}

/* sidebar */
.navbar-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    border: 1px solid #2c698d;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 15px -5px #00000030;
}

.nav-items {
    margin-left: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile,
.item-list,
.logout {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.item-list:hover,
.logout:hover {
    width: 80%;
    color: #f6fa7f;
    border-radius: 10px;
    background-image: linear-gradient(#272643,#2c698d,#272643);
    box-shadow: 0 0 15px -5px #bae8e8
}


.logout {
    margin-top: 10px;
}

.icons {
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icons i {
    font-size: 2em;
}