body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
  background-image: url("https://wallpapercave.com/wp/wp2646218.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9ed;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  overflow: hidden;
  background: #000000;
  justify-content: space-between;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: rgb(176, 0, 0);
}
.navbar-collapse {
  justify-content: flex-end;
}

#dasar-sign {
  background: linear-gradient(to left, rgb(23, 22, 23), rgb(49, 48, 48));
}

#dasar-log {
  background: linear-gradient(to right, rgb(54, 53, 55), rgb(6, 6, 6));
}
